@media all and (max-width:992px) {
    .product {
        width: 40%;
        display: inline-block;
        margin-top: 3%:
    }
}

@media all and (max-width:480px) {
    .product {
        width: 100%;
        display: inline-block;
        margin-top: 0:
    }
}